@page "/AdminOrderlist"
@inject IJSRuntime IJS
@layout BlankLayout
@inject IUser _user
@inject ICart _cart

<body onload="window.print()">
<h1 style=text-decoration:underline>Pågående Beställningar</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col"><h2>Kund</h2></th>
            <th scope="col"><h2>Produkter</h2></th>
        </tr>
    </thead>
    @foreach (var order in OrderList)
    {
        ProductList = new List<Product>();
        ProductList = order.Products;
            <tbody>
            <tr>
                <td style ="font-weight:bold">@order.User.FullName</td>
            </tr>

            @foreach (var item in ProductList)
            {
                for (var i = 0; i < item.Quantity.Amount; i++)
                {
                <tr>
                    <td></td>
                    <td>@item.Name</td>
                </tr>  
                }
            }

        </tbody>
    }

</table>
</body>
@code {

    public List<ShoppingCart> ShoppingList = new List<ShoppingCart>();

    public List<Product> ProductList = new List<Product>();
    public List<Order> OrderList = new List<Order>();

    protected override async Task OnParametersSetAsync()
    {
        ProductList = new List<Product>();
        OrderList = new List<Order>();
        OrderList = context.Orders.Include(p => p.Products).ThenInclude(x => x.Quantity).Include(x => x.User).OrderBy(x => x.User).Where(x => x.IsDone == false).ToList();

    }

}
