@inject Data.ApplicationDbContext context
@page "/"
@using Hakims_Livs.Data
@using Hakims_Livs.Models


<PageTitle>Index</PageTitle>

<h1>Hejsan Svejsan!</h1>

Välkommen till Hakims...

<SurveyPrompt Title="How is Blazor working for you?" />

@code {

    protected override Task OnInitializedAsync()
    {
        LoadExampleData(context);
        return base.OnInitializedAsync();
    }
    public static async Task LoadExampleData(ApplicationDbContext context)
    {
        if (!context.Products.Any())
        {
            
                var Frukt = new Category
                    {
                        Name = "Frukt"
                    };
                var Läsk = new Category
                    {
                        Name = "Läsk"
                    };
                   
               var apple = new Product
                {
                    Name = "Apple",
                    CategoryName = Frukt,
                    ProductCode = "F01",
                    Description = "Juicy, sweet and delicious apple",
                    Image = "images/apple.jpg",
                    Price = 5
                };
                var pepsi = new Product
                {
                    Name = "Pepsi",
                    CategoryName = Läsk,
                    ProductCode = "D01",
                    Description = "Juicy, sweet and delicious beverage",
                    Image = "images/pepsi.jpg",
                    Price = 15
                };
                var cola = new Product
                {
                    Name = "Cola",
                    CategoryName = Läsk,
                    ProductCode = "D02",
                    Description = "Juicy, sweet and delicious beverage",
                    Image = "images/cola.jpg",
                    Price = 15
                };
                var fanta = new Product
                {
                    Name = "Fanta",
                    CategoryName = Läsk,
                    ProductCode = "D03",
                    Description = "Juicy, sweet and delicious beverage",
                    Image = "images/fanta.jpg",
                    Price = 15
                };
                var appelsin = new Product
                {
                    Name = "Fanta",
                    CategoryName = Frukt,
                    ProductCode = "F02",
                    Description = "Juicy, sweet and delicious orange",
                    Image = "images/orange.jpg",
                    Price = 15
                };
                context.Products.Add(apple);
                context.Products.Add(pepsi);
                context.Products.Add(cola);
                context.Products.Add(fanta);
                context.Products.Add(appelsin);
                context.SaveChanges();
            
        }
        }
    }
