@inject Data.ApplicationDbContext context
@page "/"
@using Hakims_Livs.Data
@using Hakims_Livs.Models

<PageTitle>Index</PageTitle>

<h1 style="text-align:center">Välkommen till Hakim Livs</h1>

<h2 style="text-align:center">Dagens Produkter</h2>


@code {

    public Category category { get; set; }

    protected override Task OnInitializedAsync()
    {
        LoadCsvFile(context);
        return base.OnInitializedAsync();
    }

    public static async Task LoadCsvFile(ApplicationDbContext context)
    {
        if (!context.Products.Any())
        {
            var nameList = new List<string>();
            var catList = new List<string>();
            var codeList = new List<string>();
            var desList = new List<string>();
            var imgList = new List<string>();
            var priceList = new List<double>();

            string[] csvLines = System.IO.File.ReadAllLines(@"ExampleData.csv");
            string[] testLines = System.IO.File.ReadAllLines(@"Categories.csv");

            for (int i = 0; i < csvLines.Length; i++)
            {
                string[] rowData = csvLines[i].Split('|');

                nameList.Add(rowData[0]);
                catList.Add(rowData[1]);
                codeList.Add(rowData[2]);
                desList.Add(rowData[3]);
                imgList.Add(rowData[4]);

                double prices = Convert.ToDouble(rowData[5]);
                priceList.Add(prices);
            }

            for(int i = 0; i < testLines.Length; i++)
            {
                Category category = new Category                
                 {
                    Name = testLines[i]
                  };
                context.Categories.Add(category);
                context.SaveChanges();
            }

            for (int i = 0; i < csvLines.Length; i++)
            {               
                var product = new Product
                    {
                        Name = nameList[i],
                        CategoryName = context.Categories.Where(c => c.Name == catList[i]).FirstOrDefault(), 
                        ProductCode = codeList[i],
                        Description = desList[i],
                        Image = imgList[i],
                        Price = priceList[i]
                    };
                context.Products.Add(product);
                context.SaveChanges();
            }
        }

    }
    }

