@inherits LayoutComponentBase

<PageTitle>Hakim Livs</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
         <form>
            <input type="text" />
            <input type="submit" value="Search" />
        </form>
            <LoginDisplay />       
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
