@using Blazored.Typeahead;
@using Hakims_Livs.Data;
@using Hakims_Livs.Services
@inject Data.ApplicationDbContext context
@inherits LayoutComponentBase
@inject IShowModal _showModal
<PageTitle>Hakim Livs</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <div class ="searchbar">
            <BlazoredTypeahead SearchMethod="AutoSearch" @bind-Value="SelectedProduct">
                <SelectedTemplate>@context.Name</SelectedTemplate>
                <ResultTemplate><img src="@context.Image" width="40" height="40"/> @context.Name</ResultTemplate>
            </BlazoredTypeahead>
            </div>
        <form>
            <NavLink href="shoppingcart" >
            <button class="ShoppingcartButton">Kundvagnen</button>
            </NavLink>

            <NavLink href="checkout" >
            <button class="CheckoutButton">Till Kassan</button>
            </NavLink>
        </form>
            <LoginDisplay /> 
          
        </div>

        <article class="content px-4">
            @Body
        </article>
        @if (SelectedProduct != null)
        {
            ShowProduct(SelectedProduct.ID);
        }
    </main>
</div>
@code {
    private List<Product> products;
    private Product SelectedProduct;

    protected override void OnInitialized()
    {
        products = new List<Product>();
        products = context.Products.ToList();
    }
    private async Task<IEnumerable<Product>> AutoSearch(string searchProduct)
    {
        return await Task.FromResult(products.Where(x => x.Name.ToLower().Contains(searchProduct.ToLower())).ToList());
    }
    void ShowProduct (int productId)
    {
        _showModal.DisplayModal(productId);
    }
}