<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Hakim Livs</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @foreach (var category in context.Categories)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href=@($"product/{category.ID}")>
                    <span class="oi oi-list-rich" aria-hidden="true"></span>@category.Name.ToString()
                </NavLink>

            </div> 
        }
    
         <div class="nav-item px-3">
           <NavLink class="nav-link" href="checkout">
               <span class="oi oi-list-rich" aria-hidden="true"></span> Till kassan
           </NavLink>
       </div>         
       <div class="nav-item px-3">
           <NavLink class="nav-link" href="shoppingcart">
               <span class="oi oi-list-rich" aria-hidden="true"></span> Till vaurkorgen
           </NavLink>
       </div>
       <AuthorizeView>
           <Authorized>
            <div class="nav-item px-3">
               <NavLink class="nav-link" href="Identity/Account/Manage">
                   <span class="oi oi-list-rich" aria-hidden="true"></span> Mitt Konto
               </NavLink>
            </div>
           </Authorized>
       </AuthorizeView>
       <AuthorizeView Roles="Admin">
            <Authorized>
          <div class="nav-item px-3">
           <NavLink class="navbar-expand-sm" href="admin" @onclick="()=>submenu=!submenu">
               <span class="oi oi-list-rich" aria-hidden="true"></span> Admin
           </NavLink>
       </div>
       @if(submenu)
                {
                    <div class="nav-item px-3">
                       <NavLink class="nav-link" href="orders">
                           <span class="oi oi-list-rich" aria-hidden="true"></span> Beställningar
                       </NavLink>
                   </div>
                    
                }
            </Authorized>
       </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool submenu;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
