@page "/createcategory"
@model Hakims_Livs.Pages.Admin.CreateCategoryModel
@{
}
<link rel="stylesheet" href="~/css/site.css" />

<h1>Create</h1>
<div class="row">
    <div class="col-md-4">
        <form id="registerForm" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="category.Name" class="control-label"></label>
                <input asp-for="category.Name" class="form-control" />
                <span asp-validation-for="category.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="create" />
            </div>
        </form>
    </div>
</div>
<div>
    <a href="~/">Hem</a>
</div>